.btn-link,
.btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: 0.089rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: translateY(-0.1rem);
    }

    &:active {
        transform: translateY(-0.05rem);
    }
}

.btn {
    border-radius: 10rem;
    box-shadow: $whiteframe-shadow-2dp;
    font-size: 1rem;
    padding: 1.5rem 4rem;

    &:hover {
        box-shadow: $whiteframe-shadow-4dp;
    }

    &:active {
        box-shadow: $whiteframe-shadow-1dp;
    }

}

.btn-white {
    background-color: #FFF;
    color: get-color(secondary);
}

.btn-icon {
    border-radius: 50%;
    font-size: 3rem;
    padding: 1rem;
}
