
.flex {
    display: flex;
}

.flex--column {
    flex-direction: column;
}

.flex--row {
    flex-direction: row;
}

//flex positioning
.flex--item-start {
    align-items: flex-start;
}

.flex--item-end {
    align-items: flex-end;
}

.flex--item-center {
    align-items: center;
}

.flex--content-center {
    justify-content: center;
}

.flex--content-between {
    justify-content: space-between;
}

.flex--center-all {
    align-items: center;
    justify-content: center;
}

.flex--left {
    align-items: flex-start;
    justify-content: flex-start;
}

.flex--right {
    align-items: flex-end;
    justify-content: flex-end;
}

//flex responsive
.flex--tablet-row {
    //for tablet
    @media (min-width: #{nth($breakpoints, 2)}px) {
        flex-direction: row;
    }
}
