h1 {
    font-size: 6rem;
    font-weight: 200;
    line-height: 6rem;
    letter-spacing: -0.016rem;
}

h2 {
    font-size: 3.75rem;
    font-weight: 200;
    line-height: 3.75rem;
    letter-spacing: -0.008rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.125rem;
    letter-spacing: normal;
}

h4 {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0.007rem;
}

h5 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: normal;
}

h6 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.013rem;
}


.caption {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.03rem;
}


.font-body1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.03rem;
}

.font-body2 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0.018rem;
}

.font-button {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.25rem;
    letter-spacing: 0.089rem;
}

.font-overline {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 0.17rem;
}


.sub-title1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.009rem;
}

.sub-title2 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.375rem;
    letter-spacing: 0.007rem;
}
