//Colors
$colors:
    primary #0F111A,
    primary-dark darken(#0F111A, 15%),
    primary-light lighten(#0F111A, 15%),
    secondary #00BCD4,
    secondary-dark darken(#00BCD4, 15%),
    secondary-light lighten(#00BCD4, 15%),
    info #2196f3,
    success #1de9b6,
    warning #ffc107,
    danger #d32f2f,
    black #212121,
    white #FFFF;

//Screen Resolutions
$breakpoints:
    mobile 480,
    tablet 840,
    desktop 1280,
    desktop2 1920,
    desktop3 2560,
    desktop4 3840;

//Spaces
$spaces: 4, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 120, 200;
$corners: top, bottom, left, right;

//Whiteframes
$shadow-color: #212121;
$shadow-base-color: #424242;
$shadow-key-umbra-opacity:      0.2;
$shadow-key-penumbra-opacity:   0.14;
$shadow-ambient-shadow-opacity: 0.12;

$whiteframe-shadows: (
    (0rem 0.1rem 0.3rem 0rem, 0rem 0.1rem 0.1rem 0rem, 0rem 0.2rem 0.1rem -0.1rem),
    (0rem 0.1rem 0.5rem 0rem, 0rem 0.2rem 0.2rem 0rem, 0rem 0.3rem 0.1rem -0.2rem),
    (0rem 0.1rem 0.8rem 0rem, 0rem 0.3rem 0.4rem 0rem, 0rem 0.3rem 0.3rem -0.2rem),
    (0rem 0.2rem 0.4rem -0.1rem, 0rem 0.4rem 0.5rem 0rem, 0rem 0.1rem 1rem 0rem),
    (0rem 0.3rem 0.5rem -0.1rem, 0rem 0.5rem 0.8rem 0rem, 0rem 0.1rem 1.4rem 0rem),
    (0rem 0.3rem 0.5rem -0.1rem, 0rem 0.6rem 1rem 0rem, 0rem 0.1rem 1.8rem 0rem),
    (0rem 0.4rem 0.5rem -0.2rem, 0rem 0.7rem 1rem 0.1rem, 0rem 0.2rem 1.6rem 0.1rem),
    (0rem 0.5rem 0.5rem -0.3rem, 0rem 0.8rem 1rem 0.1rem, 0rem 0.3rem 1.4rem 0.2rem),
    (0rem 0.5rem 0.6rem -0.3rem, 0rem 0.9rem 1.2rem 0.1rem, 0rem 0.3rem 1.6rem 0.2rem),
    (0rem 0.6rem 0.6rem -0.3rem, 0rem 1rem 1.4rem 0.1rem, 0rem 0.4rem 1.8rem 0.3rem),
    (0rem 0.6rem 0.7rem -0.4rem, 0rem 1.1rem 1.5rem 0.1rem, 0rem 0.4rem 2rem 0.3rem),
    (0rem 0.7rem 0.8rem -0.4rem, 0rem 1.2rem 1.7rem 0.2rem, 0rem 0.5rem 2.2rem 0.4rem),
    (0rem 0.7rem 0.8rem -0.4rem, 0rem 1.3rem 1.9rem 0.2rem, 0rem 0.5rem 2.4rem 0.4rem),
    (0rem 0.7rem 0.9rem -0.4rem, 0rem 1.4rem 2.1rem 0.2rem, 0rem 0.5rem 2.6rem 0.4rem),
    (0rem 0.8rem 0.9rem -0.5rem, 0rem 1.5rem 2.2rem 0.2rem, 0rem 0.6rem 2.8rem 0.5rem),
    (0rem 0.8rem 1rem -0.5rem, 0rem 1.6rem 2.4rem 0.2rem, 0rem 0.6rem 30rem 0.5rem),
    (0rem 0.8rem 1.1rem -0.5rem, 0rem 1.7rem 2.6rem 0.2rem, 0rem 0.6rem 3.2rem 0.5rem),
    (0rem 0.9rem 1.1rem -0.5rem, 0rem 1.8rem 2.8rem 0.2rem, 0rem 0.7rem 3.4rem 0.6rem),
    (0rem 0.9rem 1.2rem -0.6rem, 0rem 1.9rem 2.9rem 0.2rem, 0rem 0.7rem 30.6rem 0.6rem),
    (0rem 1rem 1.3rem -0.6rem, 0rem 2rem 3.1rem 0.3rem, 0rem 0.8rem 30.8rem 0.7rem),
    (0rem 1rem 1.3rem -0.6rem, 0rem 2.1rem 3.3rem 0.3rem, 0rem 0.8rem 40rem 0.7rem),
    (0rem 1rem 1.4rem -0.6rem, 0rem 2.2rem 3.5rem 0.3rem, 0rem 0.8rem 40.2rem 0.7rem),
    (0rem 1.1rem 1.4rem -0.7rem, 0rem 2.3rem 30.6rem 0.3rem, 0rem 0.9rem 40.4rem 0.8rem),
    (0rem 1.1rem 1.5rem -0.7rem, 0rem 2.4rem 30.8rem 0.3rem, 0rem 0.9rem 40.6rem 0.8rem),
);

$whiteframe-shadow-1dp: 0rem 0.1rem 0.3rem 0rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.1rem 0.1rem 0rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.2rem 0.1rem -0.1rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-2dp: 0rem 0.1rem 0.5rem 0rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.2rem 0.2rem 0rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.3rem 0.1rem -0.2rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-3dp: 0rem 0.1rem 0.8rem 0rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.3rem 0.4rem 0rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.3rem 0.3rem -0.2rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-4dp: 0rem 0.2rem 0.4rem -0.1rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.4rem 0.5rem 0rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.1rem 1rem 0rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-5dp: 0rem 0.3rem 0.5rem -0.1rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.5rem 0.8rem 0rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.1rem 1.4rem 0rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-6dp: 0rem 0.3rem 0.5rem -0.1rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.6rem 1rem 0rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.1rem 1.8rem 0rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-7dp: 0rem 0.4rem 0.5rem -0.2rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.7rem 1rem 0.1rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.2rem 1.6rem 0.1rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-8dp: 0rem 0.5rem 0.5rem -0.3rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.8rem 1rem 0.1rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.3rem 1.4rem 0.2rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-9dp: 0rem 0.5rem 0.6rem -0.3rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 0.9rem 1.2rem 0.1rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.3rem 1.6rem 0.2rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-10dp: 0rem 0.6rem 0.6rem -0.3rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1rem 1.4rem 0.1rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.4rem 1.8rem 0.3rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-11dp: 0rem 0.6rem 0.7rem -0.4rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.1rem 1.5rem 0.1rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.4rem 2rem 0.3rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-12dp: 0rem 0.7rem 0.8rem -0.4rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.2rem 1.7rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.5rem 2.2rem 0.4rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-13dp: 0rem 0.7rem 0.8rem -0.4rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.3rem 1.9rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.5rem 2.4rem 0.4rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-14dp: 0rem 0.7rem 0.9rem -0.4rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.4rem 2.1rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.5rem 2.6rem 0.4rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-15dp: 0rem 0.8rem 0.9rem -0.5rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.5rem 2.2rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.6rem 2.8rem 0.5rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-16dp: 0rem 0.8rem 1rem -0.5rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.6rem 2.4rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.6rem 30rem 0.5rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-17dp: 0rem 0.8rem 1.1rem -0.5rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.7rem 2.6rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.6rem 3.2rem 0.5rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-18dp: 0rem 0.9rem 1.1rem -0.5rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.8rem 2.8rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.7rem 3.4rem 0.6rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-19dp: 0rem 0.9rem 1.2rem -0.6rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 1.9rem 2.9rem 0.2rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.7rem 30.6rem 0.6rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-20dp: 0rem 1rem 1.3rem -0.6rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 2rem 3.1rem 0.3rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.8rem 30.8rem 0.7rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-21dp: 0rem 1rem 1.3rem -0.6rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 2.1rem 3.3rem 0.3rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.8rem 40rem 0.7rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-22dp: 0rem 1rem 1.4rem -0.6rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 2.2rem 3.5rem 0.3rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.8rem 40.2rem 0.7rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-23dp: 0rem 1.1rem 1.4rem -0.7rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 2.3rem 30.6rem 0.3rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.9rem 40.4rem 0.8rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
$whiteframe-shadow-24dp: 0rem 1.1rem 1.5rem -0.7rem rgba($shadow-base-color, $shadow-key-umbra-opacity), 0rem 2.4rem 30.8rem 0.3rem rgba($shadow-base-color, $shadow-key-penumbra-opacity), 0rem 0.9rem 40.6rem 0.8rem rgba($shadow-base-color, $shadow-ambient-shadow-opacity) !default;
